.footer {
	margin-top: 2rem;
	background: $primary-color;
	color: $light-color;
	padding: 40px 20px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-content {
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;

	@media (max-width: 700px) {
		flex-direction: column;
		align-items: center;
	}
}

.footer-column {
	flex: 1;

	h3 {
		font-size: 1.2rem;
		margin-bottom: 15px;
		color: $light-color;
	}

	@media (max-width: 768px) {
		text-align: center;
	}
}

.footer-logo {
	width: 150px;
	margin-bottom: 15px;
}

.footer-description {
	font-size: 0.9rem;
	line-height: 1.5;
	margin-bottom: 15px;
}

.copyright {
	font-size: 0.85rem;
	justify-self: center !important;
	text-align: center !important;
}

.footer-links {
	list-style: none;

	li {
		margin-bottom: 10px;
	}

	a {
		color: $light-color;
		text-decoration: none;
		font-size: 0.95rem;
		transition: color 0.3s ease;

		&:hover {
			color: $dark-color;
		}

		.social-media {
			display: flex;
			justify-content: center;
			gap: 15px;
			margin-bottom: 15px;
		}
	}
}

.social-link {
	width: 40px;
	aspect-ratio: 1;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.1);
	}
}

.contact-info {
	font-size: 0.9rem;
	line-height: 1.6;

	a:hover {
		color: $dark-color;
	}
}

.footer-bottom {
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid rgba($light-color, 0.2);

	a {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;

		&:hover {
			color: $dark-color;
		}
	}

	.so-logo {
		width: 50px;
	}
}

.social-media {
	justify-content: center;
	@media (max-width: 700px) {
	}
}
