.gallery-container {
	padding: 2rem;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	border-top: $border-general;
	padding-top: 3rem;

	.section-title,
	.section-subtitle {
		color: $dark-color;
	}

	.section-subtitle {
		max-width: 600px;
		margin: 0 auto 3rem;
		font-family: "Poppins";
	}
}

.tabs-container {
	margin-bottom: 3rem;
}

.tab-input {
	display: none;
}

.tab-labels {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	border: 2px solid $primary-color;
	border-radius: $border-radius-rounded;
	overflow: hidden;
	max-width: 450px;
	margin-inline: auto;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		background: $primary-color;
		transition: transform 0.3s ease;
		z-index: 0;
		transform: translateX(0);
	}

	#tops-tab:checked ~ & {
		&::before {
			transform: translateX(100%);
		}
	}
}

.tab-label {
	position: relative;
	z-index: 1;
	flex: 1;
	padding: 0.75rem 1.5rem;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	color: $primary-color;

	&:hover {
		color: $primary-color;
	}
}

#dresses-tab:checked ~ .tab-labels label[for="dresses-tab"],
#tops-tab:checked ~ .tab-labels label[for="tops-tab"] {
	color: $secondary-color;
}

.tab-content {
	display: none;
}

#dresses-tab:checked ~ .tab-contents .tab-content:nth-of-type(1),
#tops-tab:checked ~ .tab-contents .tab-content:nth-of-type(2) {
	display: block;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery-item {
	box-shadow: 0 10px 10px 1px rgba($color: #000000, $alpha: 0.1);
	border-radius: $border-radius-general;
	aspect-ratio: 3/4;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, transparent 60%, $primary-color 90%);
		border-radius: $border-radius-general;
		z-index: 1;
		transition: all 0.2s ease-out;
	}

	.gallery-image {
		border-radius: $border-radius-general;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
	}

	&:hover {
		transform: scale(1.05);
	}

	.gallery-item-name {
		position: absolute;
		color: $secondary-color;
		left: 50%;
		transform: translateX(-50%);
		bottom: 2%;
		font-size: 1.3rem;
		z-index: 2;
		width: 100%;
	}
}
