@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.3s;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins";
}

@font-face {
  font-family: "Poppins";
  src: url("../typography/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("../typography/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}
.important-text {
  color: #8e46ce;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.desktop-hide {
  display: flex;
}
@media screen and (min-width: 700px) {
  .desktop-hide {
    display: none;
  }
}

.mobile-hide {
  display: none;
}
@media screen and (min-width: 700px) {
  .mobile-hide {
    display: flex;
  }
}

hr {
  width: 100%;
  background-color: #f8d1d1;
  height: 2px;
}

body {
  background-color: #f8becc;
  color: #19181f;
}

.body-content {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 50px;
}

a {
  color: #f8d1d1;
}

.btn {
  padding: 0.5rem 1.6rem;
  border-radius: 100px;
  background: #8e46ce;
  border: 2px solid #8e46ce;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f8becc;
  text-align: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(0.95);
}

.ghost-btn {
  padding: 0.5rem 1.6rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #f8becc;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #f8becc;
  text-align: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
.ghost-btn:hover {
  background: #f8becc;
  color: #8e46ce;
}

section {
  text-align: center;
  padding: 2rem;
  max-width: 1200px;
}

.section-title {
  font-family: "PlayfairDisplay";
  color: #f8d1d1;
  text-transform: capitalize;
  font-size: 2rem;
  letter-spacing: 2px;
}
@media screen and (min-width: 700px) {
  .section-title {
    font-size: 3rem;
  }
}

.section-subtitle {
  color: #f8d1d1;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.card {
  border-radius: 12px;
  background: #f8becc;
  overflow: hidden;
  border: solid 1px #8e46ce;
}
.card .card-content {
  padding: 1rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(142, 70, 206, 0.8);
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .two-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blur-out {
  filter: blur(10px);
}
.blur-out.animated {
  filter: blur(0px);
}

.fade-in {
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s;
}
.fade-in.animated {
  opacity: 1;
  transform: translateY(0);
}

.rotate-in {
  transform: translateX(-90%) rotate(-45deg);
}
.rotate-in.animated {
  transform: translateX(0%) rotate(0deg);
}

.rotate-in-right {
  transform: translateX(90%) rotate(45deg);
}
.rotate-in-right.animated {
  transform: translateX(0%) rotate(0deg);
}

.zoom-in {
  transform: scale(0) translateY(100%);
}
.zoom-in.animated {
  transform: scale(1) translateY(0%);
}

.magic-effect {
  position: relative;
}
.magic-effect::after, .magic-effect::before {
  content: "✦";
  font-size: 2rem;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
}
.magic-effect:hover::before, .magic-effect:active::before {
  opacity: 1;
  top: -30px;
  left: -30px;
  bottom: unset;
  right: unset;
  transform: rotate(360deg);
}
.magic-effect:hover::after, .magic-effect:active::after {
  opacity: 1;
  top: unset;
  left: unset;
  bottom: -30px;
  right: -30px;
  transform: rotate(360deg);
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.show-up-blur {
  animation: showUpBlurAnimation 1s forwards;
}

@keyframes showUpBlurAnimation {
  0% {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-300dvw);
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0dvw);
  }
}
@keyframes pulseAnimation {
  0% {
    scale: 1;
  }
  20% {
    scale: 1.2;
  }
  to {
    scale: 0.9;
  }
}
.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  background: #f8becc;
  border-bottom: 1px solid #8e46ce;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 700px) {
  .nav {
    justify-content: center;
  }
}

.nav-icon-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav-icon-wrapper:hover .nav-title {
  color: #8e46ce;
}

.nav-icon {
  width: 100%;
  max-width: 100px;
}
@media screen and (min-width: 700px) {
  .nav-icon {
    max-width: 120px;
  }
}

.nav-title {
  color: #19181f;
  font-size: 1.3rem;
}

.nav-links {
  display: none;
}
@media screen and (min-width: 700px) {
  .nav-links {
    display: flex;
    gap: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    align-items: center;
    font-size: 0.9rem;
  }
  .nav-links p {
    color: #8e46ce;
    position: relative;
  }
  .nav-links p::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #8e46ce;
    transition: width 0.3s ease;
    transform: translateX(-50%);
  }
  .nav-links p:hover::after {
    width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .nav-link {
    padding: 0.5rem 1rem;
    display: flex;
    gap: 10px;
    border-radius: 100vh;
    font-size: 1rem;
  }
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  transform: translateX(-200%);
  padding: 1rem;
  background-color: #8e46ce;
  z-index: -1;
  gap: 50px;
  border-right: solid 1px #f8becc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.side-bar-links {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.side-bar-link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #f8d1d1;
  font-size: 1.5rem;
}

.side-bar-social {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 15px;
}

.social-link {
  width: 50px;
}

.toggle-btn {
  background: none;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 35px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
}
@media screen and (min-width: 700px) {
  .toggle-btn {
    display: none;
  }
}
.toggle-btn .bar {
  height: 2px;
  width: 100%;
  background-color: #8e46ce;
  border-radius: 2px;
  transition: transform 0.4s ease, opacity 0.2s ease;
}
.toggle-btn.toggled .bar:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}
.toggle-btn.toggled .bar:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}
.toggle-btn.toggled .bar:nth-child(2) {
  opacity: 0;
}

.footer {
  margin-top: 2rem;
  background: #8e46ce;
  color: black;
  padding: 20px;
  text-align: center;
  padding-block: 20vh;
  color: #f8d1d1;
}
.footer .social-media {
  margin-top: 10px;
}
.footer .social-media a {
  margin: 0 10px;
}
.footer .social-media a .social-link {
  width: 35px;
}
.footer .bold a {
  color: #f8d1d1;
}

.header {
  background-image: url(../assets/header.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: #8e46ce;
  height: 100dvh;
}
@media screen and (min-width: 700px) {
  .header {
    background-position: center;
    background-size: cover;
  }
}

.header-content {
  height: 95%;
  padding: 2rem;
  color: #f8d1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
@media screen and (min-width: 700px) {
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: auto;
    max-width: 1200px;
    padding: 2.5rem;
    align-items: flex-start;
  }
}

.header-title {
  font-size: 18dvw;
  line-height: 0.8;
  text-transform: uppercase;
  margin-top: 5rem;
  font-family: "PlayfairDisplay";
}
@media screen and (min-width: 700px) {
  .header-title {
    font-size: 8.5dvw;
    transform: none;
    text-align: left;
  }
}

.header-subtitle {
  font-size: 1.2rem;
  max-width: 600px;
  color: #f8d1d1;
  font-weight: bold;
  max-width: 400px;
  /* 	@media screen and (min-width: 700px) {
  	font-size: 1rem;
  } */
}

.cta-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cta-section .btn {
  background-color: #f8becc;
  color: #8e46ce;
}
@media screen and (min-width: 700px) {
  .cta-section {
    position: unset;
    padding: 0;
    flex-direction: row;
    top: unset;
  }
}

.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun linear infinite;
  animation-duration: 7s;
  animation-delay: calc(15s / var(--quantity) * (var(--position) - 1)) !important;
}
.item h1 {
  font-family: "PlayfairDisplay";
  letter-spacing: 1px;
  text-wrap: nowrap;
}

.why-us {
  background-color: #8e46ce;
  max-width: none;
  width: 100%;
  padding-block: 3rem;
  padding-inline: 2rem;
}

.why-us-container {
  justify-self: center;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  max-width: 1200px;
}
@media screen and (min-width: 700px) {
  .why-us-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.reason {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #f8d1d1;
}
.reason .reason-icon {
  width: 50px;
}
.reason h3 {
  font-family: "PlayfairDisplay";
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.reason p {
  margin-top: 0.8rem;
  font-size: 0.95rem;
  line-height: 1.6;
  text-align: justify;
}
@media screen and (min-width: 700px) {
  .reason {
    max-width: 320px;
  }
}

.about-us {
  max-width: none;
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 700px) {
  .about-us {
    padding: 1rem;
    max-width: 1000px;
  }
}

.about-us-container {
  justify-items: center;
}

.about-us-img {
  width: 100%;
  max-width: 350px;
  border-radius: 12px;
}

.about-us-text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background-color: #8e46ce;
  color: #f8d1d1;
  position: relative;
}
.about-us-text::after {
  position: absolute;
  content: "♡";
  top: 0;
  right: 2rem;
  font-size: 4rem;
  color: #f8becc;
  animation: pulseAnimation 1s infinite;
}
.about-us-text .section-subtitle {
  margin-top: unset;
  margin-bottom: unset;
}
.about-us-text p {
  text-align: justify;
}
.about-us-text .ghost-btn {
  margin-top: 1rem;
}
.about-us-text .ghost-btn:hover {
  scale: 0.97;
}
@media screen and (min-width: 700px) {
  .about-us-text {
    text-align: justify;
  }
  .about-us-text .section-title {
    font-size: 2.5rem;
  }
  .about-us-text p {
    text-align: left;
  }
  .about-us-text .btn {
    max-width: 150px;
  }
}

section.image-gallery {
  padding: 0;
}

.image-gallery {
  width: 100%;
  margin-block: 2rem;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(to bottom, transparent 0%, #19181f, #19181f, transparent 100%);
}

.image-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 5px;
  max-width: 100%;
  padding: 5px;
}
@media (min-width: 700px) {
  .image-gallery-container {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 10px;
    padding: 10px;
  }
}

.image-gallery-item {
  width: 100%;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 12px;
}
.image-gallery-item:hover img {
  transform: scale(1.3);
}
.image-gallery-item:nth-child(3n+1) {
  margin-top: 10px; /* Las columnas exteriores se bajan un poco */
}
.image-gallery-item:nth-child(3n+2) {
  margin-top: -100px; /* La columna interior se sube un poco */
}
@media (min-width: 700px) {
  .image-gallery-item {
    /* Restablecer los márgenes de móvil para evitar acumulación */
    /* Nuevos estilos para escritorio */
  }
  .image-gallery-item:nth-child(3n+1), .image-gallery-item:nth-child(3n+2) {
    margin-top: 0;
  }
  .image-gallery-item:nth-child(5n+1), .image-gallery-item:nth-child(5n+3), .image-gallery-item:nth-child(5n+5) {
    margin-top: 10px; /* Primera y última columna se baja */
  }
  .image-gallery-item:nth-child(5n+2), .image-gallery-item:nth-child(5n+4) {
    margin-top: -100px; /* Columnas 2 y 4 se suben un poco menos que la del centro */
  }
}

.image-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.featutes {
  padding: 2rem;
}
.featutes .section-title,
.featutes .section-subtitle {
  color: #8e46ce;
}

.features-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.feature-icon {
  width: 40px;
  margin-bottom: 0.75rem;
}

.feature-title {
  font-family: "PlayfairDisplay";
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #8e46ce;
  margin-bottom: 0.75rem;
}

.feature-text {
  font-size: 0.95rem;
  color: #8e46ce;
  line-height: 1.5;
}

@media screen and (min-width: 700px) {
  .featutes {
    padding: 2rem;
  }
  .features-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .features-column {
    max-width: 450px;
  }
  .feature-title {
    font-size: 1.3rem;
  }
  .feature-text {
    font-size: 1rem;
  }
}
.shop-preview .section-title,
.shop-preview .section-subtitle {
  color: #8e46ce;
}

.shop-preview-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 700px) {
  .shop-preview-container {
    flex-direction: row;
  }
}

.preview-card-img {
  width: 100%;
}

.product-card-container {
  display: flex;
  width: 100%;
}
.product-card-container .product-card {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  background-color: #f8becc;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
  scroll-snap-align: start;
  border: solid 1px #8e46ce;
}
.product-card-container .product-card:hover {
  transform: scale(1.02);
}
.product-card-container .product-card:hover .preview-card-img {
  transform: scale(1.1);
}
.product-card-container .product-card .product-card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8e46ce;
  border-radius: 100px;
  padding: 0.75rem;
  margin: 0.75rem;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: #f8d1d1;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .product-card-container .product-card-container {
    gap: 15px;
  }
  .product-card-container .product-card {
    max-width: 250px;
  }
}

.shop-preview .btn {
  margin-top: 1.5rem;
}
@media screen and (min-width: 700px) {
  .shop-preview .btn {
    max-width: 250px;
  }
}

.product-card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(248, 190, 204, 0.3), rgba(248, 190, 204, 0.9));
  box-shadow: 0 -15px 50px rgba(248, 190, 204, 0.4);
  width: 100%;
  height: 30%;
  z-index: 0;
}

/*# sourceMappingURL=style.css.map */
